#define IDD_SETTINGSDIALOG 1000
#define IDC_GRP1 1006
#define IDC_TXTMOVELIMIT 1001
#define IDC_TXTTIMELIMIT 1002
#define IDC_BTNCLOSE 1003
#define IDC_LBLMOVELIMIT 1004
#define IDC_LBLTIMELIMIT 1005


IDD_SETTINGSDIALOG DIALOG DISCARDABLE 6,6,105,79
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif"
BEGIN
  CONTROL "",IDC_TXTMOVELIMIT,"Edit",0x50010000,52,22,38,12,0x00000200
  CONTROL "",IDC_TXTTIMELIMIT,"Edit",0x50010000,52,38,38,12,0x00000200
  CONTROL "Close",IDC_BTNCLOSE,"Button",0x50010000,24,62,53,12,0x00000000
  CONTROL "Move Limit",IDC_LBLMOVELIMIT,"Static",0x50000000,12,22,40,12,0x00000000
  CONTROL "Time Limit",IDC_LBLTIMELIMIT,"Static",0x50000000,12,38,40,12,0x00000000
  CONTROL "Set Move Limit",IDC_GRP1,"Button",0x50000007,4,5,96,54,0x00000000
END
